@import url(reset.css);

.time {
  width: 100px;
  height: 557px;
  display: flex;
  flex-wrap: wrap;
  border-right: solid black 0.1mm;
}

.time > div {
  width: 100px;
  height: 30px;
  display: flex;
  border-bottom: solid black 0.01mm;
  justify-content: center;
  align-items: center;
}
.time > div:last-child {
  border-bottom: none;
}
.box {
  width: 200px;
  height: 540px;

  display: flex;
  flex-wrap: wrap;
}

.box > div {
  width: 30px;
  height: 30px;
  border-right: rgb(0, 0, 0, 0.5) dotted 0.01mm;
  border-bottom: rgb(0, 0, 0, 0.5) dotted 0.01mm;
}

.box > div:nth-child(6n + 6) {
  border-right: none;
}
.box > div:nth-child(6) {
  border-top-right-radius: 10px;
}
.box > div:nth-child(108) {
  border-bottom-right-radius: 10px;
}

.timetable {
  width: 286px;
  height: 557px;
  display: flex;
  margin: 0px 20px;
  border: solid black 2px;
  border-radius: 10px;
}

.form {
  width: 700px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}

.note {
  width: 300px;
  height: 530px;
  padding: 10px;
  border: solid black 1px;
  border-radius: 10px;
}

.border {
  border-left: solid 2px;
  border-top: solid 2px;
  margin-left: -2px;
  margin-top: -2px;
  border-top-left-radius: 5px;
}

.secborder {
  border: none;
  border-right: solid 2px;
  border-bottom: solid 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  border-bottom-right-radius: 5px;
}

.animation {
  animation: hae 1s infinite alternate;
}

@keyframes hae {
  from {
    background-color: white;
  }
  to {
    background-color: yellow;
  }
}

.clockquotes {
  display: flex;
  padding-top: 20px;
  margin: 25px;
}
.clock {
  font-size: 30px;
  margin-right: 40px;
}
.date {
  margin: 25px;
  font-size: 30px;
}

.day {
  margin: 25px 35px;
  font-size: 30px;
}

.memo {
  width: 300px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
}

.tododiv {
  position: relative;
  top: 70px;
  left: 20px;
}
