@import url(reset.css);
body {
  font-family: "Gowun Batang", serif;
}
input[type="color"] {
  font-family: FontAwesome;
}
.time {
  width: 40px;
  height: 587px;
  display: flex;
  flex-wrap: wrap;
  border-right: solid rgb(190, 187, 177) 0.01mm;
  color: rgb(138, 137, 133);
}

.time > div {
  width: 50px;
  height: 30px;
  display: flex;
  border-bottom: solid rgb(190, 187, 177) 0.01mm;
  justify-content: center;
  align-items: center;
}
.time > div:last-child {
  border-bottom: none;
}
.box {
  width: 200px;
  height: 540px;
  display: flex;
  flex-wrap: wrap;
}

.box > div {
  width: 30px;
  height: 30px;
  border-right: white dotted 0.01mm;
  border-bottom: white dotted 0.01mm;
}

.box > div:nth-child(6n + 6) {
  border-right: none;
}
.box > div:nth-child(6) {
  border-top-right-radius: 10px;
}
.box > div:nth-child(114) {
  border-bottom-right-radius: 10px;
}

.timetable {
  width: 226px;
  height: 587px;
  display: flex;
  margin: 8px 10px 0px 20px;
  border: solid rgb(190, 187, 177) 0.1px;
  border-radius: 10px;
}

.form {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.note {
  width: 400px;
  height: 570px;
  padding: 10px;
  border: solid white 1px;
  border-radius: 10px;
}

.border {
  border-left: solid 2px;
  border-top: solid 2px;
  margin-left: -2px;
  margin-top: -2px;
  border-top-left-radius: 5px;
}

.secborder {
  border: none;
  border-right: solid 2px;
  border-bottom: solid 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  border-bottom-right-radius: 5px;
}

.clockquotes {
  display: flex;

  margin: 10px 0px 10px 25px;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}
.clock {
  font-size: 23px;
  margin-right: 10px;
}
.date {
  margin: 0px 0px 20px 25px;
  font-size: 22px;
}

.day {
  margin: 25px;
  font-size: 24px;
}

.memo {
  width: 400px;
  height: 650px;
  display: flex;
  font-size: 15px;
  flex-wrap: wrap;
}

.tododiv {
  position: relative;
  top: 100px;
  left: 20px;
}

.radius {
  border-radius: 8px;
}

.example {
  margin-top: 65px;
}
