.time {
  width: 100px;
  height: 557px;
  display: flex;
  flex-wrap: wrap;
  border-right: solid black 0.1mm;
}

.time > div {
  width: 100px;
  height: 30px;
  display: flex;
  border-bottom: solid black 0.01mm;
  justify-content: center;
  align-items: center;
}
.time > div:last-child {
  border-bottom: none;
}
.box {
  width: 200px;
  height: 540px;

  display: flex;
  flex-wrap: wrap;
}

.box > div {
  width: 30px;
  height: 30px;
  border-right: rgb(0, 0, 0, 0.5) dotted 0.01mm;
  border-bottom: rgb(0, 0, 0, 0.5) dotted 0.01mm;
}

.box > div:nth-child(6n + 6) {
  border-right: none;
}
.box > div:nth-child(6) {
  border-top-right-radius: 10px;
}
.box > div:nth-child(108) {
  border-bottom-right-radius: 10px;
}

.timetable {
  width: 286px;
  height: 557px;
  display: flex;
  margin: 20px;
  border: solid black 2px;
  border-radius: 10px;
}

.form {
  width: 800px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}

.note {
  width: 300px;
  height: 400px;
}

.border {
  border-left: solid 2px;
  border-top: solid 2px;
  margin-left: -2px;
  margin-top: -2px;
  border-top-left-radius: 5px;
}

.secborder {
  border: none;
  border-right: solid 2px;
  border-bottom: solid 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  border-bottom-right-radius: 5px;
}
